%form{:action => "/dog/create", :method => "post"}
  %input{:type => "textbox", :name => "name", :id => "name"}
  %input{:type => "submit", :value => "Add Doggie!"}
Or if you prefer, use the
%a{:href => "/dog/new"} advance
mode for adding the new doggie.

%h2 Doggies (#{@dogs.size}):
- unless @dogs.empty?
  %ul
    - @dogs.each do |d|
      %li{:class => "completed"}
        %a{:href => "/dog/#{d.id}/edit"}= d.name
        (#{d.pictures.size})
        %a{:href => "/picture/#{d.id}/new"} Add picture
        - d.pictures.each do |p|
          %a{:href => "/picture/#{p.id}/delete"}
            %img{:src => p.s3_original_url, :height => 100, :width => 100}
        %br
- else
  %p No Doggies yet!
